 
body {
  font-family: Arial, sans-serif;
  /* margin: 0; */
  /* padding: 0; */
  /* display: flex; */
  margin: 100px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #9fddd0;
}

 .app-container {
  width: 1000px;
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
 }

 .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(55, 227, 239);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
 }

 .popup::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   z-index: -1;
}

 /* .popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.popup h2 {
  margin-top: 0;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #bc6bde;
  color: white;
  transition: background-color 0.3s;
}

.actions button:hover {
  background-color: #0056b3;
}

.actions button[type="button"] {
  background-color: #1589ee;
}

.actions button[type="button"]:hover {
  background-color: #0056b3;
}

